<h1>Data Linked to Me</h1>

<% unless @hometown.blank? %>
	<h2>My hometown: <%= @hometown['name'] %></h2>
	
	<p>
		<%= @hometown_notable_people['total_number'] %> notable <%= @hometown_notable_people['total_number'] == 1 ? 'person was' : 'people were' %> born in your hometown...
		<% if @hometown_notable_people['total_number'] > 10 %>
			<br/>(Showing 10 randomly selected people)
		<% end %>
	</p>

	<% unless @hometown_notable_people['notable_people'].blank? %>

		<table class='linked_data_table'>
			<tr>
				<td>Name</td>
				<td>DOB</td>
			</tr>

			<% @hometown_notable_people['notable_people'].each do |person| %>

				<tr>
					<td><%= link_to person.name, person.resource_id, {'target'=>'_blank'} %></td>
					<td>
						<% unless person.birthday.blank? %>
							<%= person.birthday.strftime('%B %d, %Y') %>
						<% end %>
					</td>
				</tr>

			<% end %>

		</table>
	<% end %>
	
<% end %>


<% unless @current_location.blank? %>
	<h2>My current location: <%= @current_location['name'] %></h2>
	
	<p>
		<%= @current_location_notable_people['total_number'] %> notable <%= @current_location_notable_people['total_number'] == 1 ? 'person was' : 'people were' %> born in your current location...
		<% if @current_location_notable_people['total_number'] > 10 %>
			<br/>(Showing 10 randomly selected people)
		<% end %>
	</p>

	<% unless @current_location_notable_people['notable_people'].blank? %>

		<table class='linked_data_table'>
			<tr>
				<td>Name</td>
				<td>DOB</td>
			</tr>

			<% @current_location_notable_people['notable_people'].each do |person| %>

				<tr>
					<td><%= link_to person.name, person.resource_id, {'target'=>'_blank'} %></td>
					<td>
						<% unless person.birthday.blank? %>
							<%= person.birthday.strftime('%B %d, %Y') %>
						<% end %>
					</td>
				</tr>

			<% end %>

		</table>
	<% end %>
	
<% end %>
