<table>

	<tr>
		<th>From</th>
		<th>Type</th>
		<th>Place</th>
		<th>Lat</th>
		<th>Long</th>
		<th>Created</th>
	</tr>

	<% @locs.each_with_index do |f,index| %>
		
			<tr>
				<td><%= f['from']['name'] %></td>
				<td><%= f['type'] %></td>

				<% if !f['place'].blank? %>
					<td><%= f['place']['name'] %></td>

					<% if !f['place']['location'].blank? %>
						<td><%= f['place']['location']['latitude'] %></td>
						<td><%= f['place']['location']['longitude'] %></td>
					<% else %>
						<td></td>
						<td></td>
					<% end %>
				<% else %>
					<td></td>
					<td></td>
					<td></td>
				<% end %>
				<td><%= f['created_time'] %></td>
			</tr>

	<% end %>

</table>

<%= link_to 'Previous', url_for(:page => @locs.previous_page_params) %> | 
<%= link_to 'Next', url_for(:page => @locs.next_page_params) %>