


<h1>My Connections</h1>
<!-- 
<%= form_tag('/home/serendipities', :id => 'seren-form') %>

	<div id='serendipity-search' class='row'>
	  <fieldset>
	    <legend>Serendipity Search</legend>

	    <div class='large-4 columns'>
	      <label>Available Locations</label>
	      <%= select_tag(:place_id, options_from_collection_for_select(Person.all, :id, :name, @place_id)) %>
	    </div>
	    <div class='large-4 columns'>
	      <label>&nbsp;</label>
	      <input id='seren-search' type='button' class='button prefix' value='Find Serendipity'/>
	    </div>
	  </fieldset>
	</div>

</form>
 -->




<% if @serendipities.blank? %>

	<% if @place_id.blank? %>

		<div>
			<h2>Choose a location and then click to search for serendipity!</h2>
		</div>

	<% else %>

		<div>
			<h2>There were no results, please try another location...</h2>
		</div>

	<% end %>

<% else %>

	<div class="section-container auto" data-section>

		<% @serendipities.keys.sort.reverse.each_with_index do |key, index| %>

		  <section>
		    <p class="title" data-section-title><a href="#panel<%= index %>"><%= key %> connections</a></p>
		    <div class="content" data-section-content>
		      
		      <% @serendipities[key].each do |moment| %>

						<%= moment %> <br/><br/>

					<% end %>

		    </div>
		  </section>

		<% end %>

	</div>

<% end %>