<!-- <h2>Sign in!!!</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>
 -->
<div style='height:100px;'></div>
<div style='text-align:center;'>
	<h1>Welcome to Serendipity...</h1>
	<h1 class='subheader'>Click below to login with Facebook.</h1>
	<div id='fb_login_button' class='facebook_login_icon'>
		<%= link_to image_tag('facebookIcon.jpg'), user_omniauth_authorize_path(:facebook) %>
	</div>
	<div id='fb_login_loading_gif' style='display:none;'>
		<%= image_tag('loading1.gif') %>
		<h4 class='subheader'>Note: the first login may take a few moments...</h4>
	</div>
</div>