<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Serendipity" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  </head>

  <body>
  	<nav class="top-bar">
		  <ul class="title-area">
		    <li class="name">
		      <h1><%= link_to "Serendipity", root_path %></h1>
		    </li>
		  </ul>



		  <section class="top-bar-section">
		    <ul class="right">

					<% if current_user %>

						<li class="divider"></li>
						<li><%= link_to 'Home', root_path %></li>
						<li class="divider"></li>
						<li><%= link_to 'Serendipities', home_serendipities_path %></li>
						<li class="divider"></li>
						<li><%= link_to 'My Friends', home_my_friends_path %></li>
						<li class="divider"></li>
						<li><%= link_to 'Locations', home_locations_path %></li>
						<li class="divider"></li>
						<li><%= link_to 'My Feed', home_my_feed_path %></li>
						<li class="divider"></li>
						<li><%= link_to 'My Photos', home_my_photos_path %></li>
						<li class="divider"></li>
						<li><%= link_to 'Linked Data', home_linked_data_path %></li>


			    	<li class='has-dropdown'>
			    		<a href='#'><%= current_user.person.name %></a>
			    		<ul class='dropdown'>
			    			<li><%= link_to 'Logout', logout_path, :method => 'delete' %></li>
			    		</ul>
			    	</li>
					<% else %>
						<li id='nav_fb_login_button'><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
					<% end %>


		    </ul>
		  </div>
		</nav>

		

		<div class='row'>
			<div class='large-12 columns'>
				<%= yield %>
			</div>
		</div>


    
    <%= javascript_include_tag "application" %>
  </body>
</html>
